h1 {
  width: 100%;
  text-align: center;
  font-size: 15pt;
}

.container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.head {
  justify-content: center;
}

.main {
  justify-content: center;
  height: 510px;
}

.list {
  align-content: center;
}

.display {
  width: 80%;
}

#cat_item {
  flex-direction: column;
}

#list {
  width: 20%;
  flex-direction: column;
}

#cat_item h2 {
  padding-bottom: 15px;
  margin: 0;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

span {
  font-weight: 600;
  cursor: pointer;
}

.img {
  width: 250px;
  height: 250px;
}
